@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "MYoungHei PRC";
    src: url('./fonts/MYoungHei-PRC.woff2') format('woff2'),
         url('./fonts/MYoungHei-PRC.woff') format('woff'),
         url('./fonts/MYoungHei-PRC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
  margin: 0;
  font-family: "MYoungHei PRC"; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  margin: 0;
  background: radial-gradient(rgba(244,189,150,1) 30%, rgba(201,68,111,1) 100%); 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
